@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

html {
    font-family: var(--font-family, 'Poppins', sans-serif);
    color: var(--multichar-text-color, #ebebeb);
}

.theme--light.v-date-picker-header .v-date-picker-header__value:not(.v-date-picker-header__value--disabled) button:not(:hover):not(:focus) {
    color: var(--multichar-text-color, #ebebeb) !important;
}

.characters::-webkit-scrollbar {
    display: none;
}

.main-screen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 100;
}

.characters-list {
    -ms-overflow-style: none;
    background-color: var(--multichar-bg-color, #161923f2);
    border-radius: 5px;
    box-shadow: var(--multichar-box-shadow, rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px);
    height: fit-content;
    left: 14%;
    max-height: 70%;
    min-height: 50%;
    min-width: 26%;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    padding: var(--multichar-padding, 30px);
    position: absolute;
    scrollbar-width: none;
    top: 20%;
    transition: 400ms;
    width: fit-content;
}

.characters-list::-webkit-scrollbar {
    display: none;
}

.character-list-header {
    text-transform: var(--multichar-header-text-transform, uppercase);
    position: relative;
    top: -2vh;
    width: 100%;
    height: 10%;
    right: 0;
}

.character-list-header>p {
    text-align: center;
    font-size: 2vh;
    margin-top: 3.1vh;
    letter-spacing: .1vh;
    font-weight: 900;
    color: var(--multichar-header-color, #ededed);
}

.characters {
    width: 100%;
    height: 72.5%;
}

.character {
    position: relative;
    width: 100%;
    height: 7vh;
    margin-top: 1.25vh;
    border-bottom: 4px solid #74aa3200;
    transition: .1s linear;
    border-radius: .3vh;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.character:hover {
    background-color: var(--multichar-character-bg-hover, #a90d2ca6);
    box-shadow: rgb(37 17 17 / 25%) 0px 30px 60px -12px inset, rgb(154 54 54 / 30%) 0px 18px 36px -18
}

.character > span {
    font-weight: 900;
    text-transform: var(--multichar-character-text-transform, uppercase);
    letter-spacing: .1vh;
}

.cid {
    color: inherit;
    position: relative;
    font-size: 1.5vh;
    flex: 0 0 40%;
    text-align: right;
    padding-right: 10px;
}

.char-selected {
    background-color: var(--multichar-character-bg-selected, #a90d2ca6);
    box-shadow: rgb(37 17 20 / 25%) 0px 30px 60px -12px inset, rgb(154 54 54 / 30%) 0px 18px 36px -18;
    transition: 250ms;
}

.slot-name {
    position: relative;
    font-size: 1.5vh;
    flex: 0 0 60%;
    padding-left: 10px;
}

.character-btns {
    margin-top: 25px;
}

.character-btn {
    width: 100%;
    height: 5.0vh;
    top: 65%;
    transition: 0.2s;
    float: left;
    margin-top: 10px;
    cursor: pointer;
    overflow: visible !important;
}

#play,
#delete {
    border-radius: var(--button-border-radius, .3vh);
    transition: var(--button-transition, all 0.2s ease);
}

#play:hover,
#delete:hover {
    box-shadow: rgb(17 17 37 / 25%) 0px 30px 60px -12px inset, rgb(54 80 154 / 30%) 0px 18px 36px -18px;
}

#play {
    background-color: var(--button-bg-color, rgb(47 134 67));
}

#delete {
    background-color: var(--button-cancel-bg-color, rgb(144 41 62));
}

.character-info {
    background-color: var(--multichar-bg-color, #161923f2);
    border-radius: var(--border-radius, 5px);
    box-shadow: var(--box-shadow, rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px);
    height: fit-content;
    max-width: 27.5%;
    min-height: 50%;
    min-width: 22.5%;
    overflow: visible !important;
    padding: var(--multichar-padding, 30px);
    position: absolute;
    right: 14%;
    top: 20%;
    transition: 400ms;
    width: fit-content;
}

.char-info-header {
    display: block;
    text-transform: var(--multichar-header-text-transform, uppercase);
    width: 100%;
    text-align: center;
    font-size: 2vh;
    color: #ededed;
    letter-spacing: .1vh;
    font-weight: 900;
    overflow: visible !important;
}

.no-char {
    color: #ededed;
    font-size: 1.5vh;
    margin-top: 7.5px;
    text-align: center;
    display: block;
}

.character-info table {
    width: 100%;

    border-spacing: 0rem 1rem;
    border-collapse: separate;

    margin-top: 25px;
}

.character-info table,
.character-info tbody,
.character-info tr,
.character-info td {
    display: block;
    position: relative;
}

.character-info td {
    width: 50%;
    word-wrap: break-word;
}

.character-info tr {
    display: flex;
    margin-bottom: 1.5vh;
}

.character-info table td {
    color: white;
    font-size: 1.3vh;
}

.character-delete {
    background-color: var(--multichar-bg-color, rgb(27 33 49 / 95%));
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
    color: #ededed;
    left: 50%;
    overflow: visible !important;
    padding: 30px;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 33vh;
}

.v-btn__content {
    color: white !important;
    font-weight: 600 !important;
}

.v-btn.v-size--large .v-btn__content {
    font-size: 1.75vh !important;
}

.v-btn:not(.v-size--large) .v-btn__content {
    font-size: 1rem !important;
}

.theme--light.v-input,
.theme--light.v-input input,
.theme--light.v-input,
.theme--light.v-input input::placeholder,
.v-list-item__title,
.v-select__selection.v-select__selection--comma {
    color: white !important;
}

.characters-delete-block-header {
    font-size: 2vh !important;
    line-height: 29px;
    font-weight: 900;
    text-transform: var(--multichar-character-text-transform, uppercase);
    overflow: visible !important;
    margin-bottom: 5px;
}

.character-delete > p {
    font-size: 1.3vh;
    overflow: visible !important;
}

.character-delete-btn {
    width: 43%;
    border-radius: 4px;
    transition: 0.2s;
    overflow: visible !important;
    cursor: pointer;
}

.character-delete-btn:nth-child(2) {
    margin-left: 14%;
}

.character-delete-btns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.character-register {
    background-color: var(--multichar-bg-color, rgb(27 33 49 / 95%));
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
    height: fit-content;
    left: 32px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: 400ms;
    width: 25%;
}

#close-reg {
    position: relative;
    top: -2vh;
    float: right;
    font-size: 1.5vh;
    right: 0px;
    cursor: pointer;
}

.material-symbols-outlined {
    color: #ededed;
    background-color: #DC143C;
    font-weight: 900;
    border-radius: .3vh;
    padding: .3vh;
}

.characters-register-block-header {
    text-transform: var(--multichar-header-text-transform, uppercase);
    width: 100%;
    text-align: left;
    font-size: 2vh;
    font-weight: 900;
}

.char-register-inputs {
    overflow: visible !important;
}



.v-menu__content.theme--light.menuable__content__active {
    margin-top: var(--multichar-create-dropdown-margin-top, 48px);
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.theme--light.v-list {
    background: #182131 !important;
}

select {
    position: absolute;
    border: none;
    border: .3vh solid #444444;
    background-color: #171717;
    outline: none;
    width: 93.5%;
    height: 4vh;
    top: 19.9vh;
    left: .1vh;
    color: #ededed;
    max-width: 100%;
    padding: 4px;
    border-radius: .3vh;
    text-align-last: center;
    text-indent: 1px;
    text-overflow: '';
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

select:hover {
    background-color: rgba(34, 34, 34, 0.808);
}

select:focus {
    background-color: rgba(34, 34, 34, 0.808);
}

select::placeholder {
    text-align: center;
}

select::-ms-expand {
    display: none;
}

input[type="date"] {
    text-align: center;
}

input[type=date]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

.character-reg-btn {
    height: 4vh;
    width: 100%;
    margin-top: 25px;
}

.character-reg-btn > p {
    text-align: center;
    line-height: 4vh;
    text-transform: var(--multichar-button-text-transform, uppercase);
    font-size: 2vh;
}

.loading-container {
    height: 150px;
    left: 0;
    margin: 0 auto;
    padding: 1vh;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
}

.loading-container > p {
    color: var(--multichar-loading-text-color, #ededed);
    margin-top: 1vh;
    text-shadow: 1px 1px 0px #00000085;
}

.loading-circle {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loading-circle div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: loading-circle 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.loading-circle div:nth-child(1) {
    animation-delay: -0.45s;
}

.loading-circle div:nth-child(2) {
    animation-delay: -0.3s;
}

.loading-circle div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loading-circle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* TRANSITIONS */
.slide-top-left-fade-enter-active,
.slide-top-right-fade-enter-active,
.slide-top-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-top-left-fade-leave-active,
.slide-top-right-fade-leave-active,
.slide-top-fade-leave-active {
    transition: all 0.5s cubic-bezier(1, 0.7, 0.9, 1);
}

.slide-top-left-fade-enter-from,
.slide-top-left-fade-leave-to {
    transform: translateX(-10%) translateY(-10%);
    opacity: 0 !important;
}

.slide-top-right-fade-enter-from,
.slide-top-right-fade-leave-to {
    transform: translateX(10%) translateY(-10%);
    opacity: 0 !important;
}

.slide-top-fade-enter-from,
.slide-top-fade-leave-to {
    transform: translateY(-10%);
    opacity: 0 !important;
}

.char-register-inputs div:not(:first-child) {
    margin-top: 10px;
}

.v-btn {
   text-transform: var(--multichar-button-text-transform, uppercase) !important; 
}

.v-date-picker-table .v-btn--active {
    background: var(--primary, #DC143C) !important;
}

.theme--light.v-picker__body {
    background: var(--multichar-bg-color, #161923f2) !important;
}

.v-picker__actions.v-card__actions {
    background: rgb(24 29 41 / 95%) !important
}

.v-picker__title.primary {
    background: var(--primary, #DC143C) !important;
}

.theme--light.v-btn.v-btn--icon, .theme--light {
    color: inherit !important;
}

button.v-btn.v-date-picker-table__current.v-btn--rounded.v-btn--outlined.theme--light.accent--text {
    border-color: #DC143C;
}

.v-date-picker-years {
    overflow: scroll !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.v-date-picker-years::-webkit-scrollbar {
    display: none;
}

.v-input--is-disabled.v-text-field .v-input__control .v-input__slot,
.v-input--is-disabled.v-text-field .v-input__control input[role=button],
.character-delete>p {
    cursor: default !important;
}

.v-btn:not(.v-btn--round).v-size--large {
    height: 3.5vh !important;
}